/*应用程序端*/
.Xiazai{
	margin-left: 500px;
	border: 2px orange solid;
	width: 220px;
	top: 455PX;
}
/*清除超链接下划线*/
a{
	text-decoration: none;
}
/*下载公共代码*/
.Xiazai ,.Xiazai2{
	
	text-align: center;
	line-height: 50PX;
	cursor: pointer;
	position: relative;	
	border-radius: 60px;
	height: 50px;
	background-color: rgba(255,252,245,0.9);
}
/*管理端*/
.Xiazai2{
	
	margin-left: 800px;
	top: 400PX;
	border: 3px cornflowerblue  solid;
	width: 220px;
}

*{
	margin: 0px;
	padding: 0px;
}
ul li{
	list-style: none;
}
/*网页头部定义背景*/
.head{
	border: 0px white solid;
	height:730px;
	background: url(../img/nvaBg.png) no-repeat;
	background-size:107% 100%;
}
/*导航栏*/
nav{
	margin-left: 100px;
}
nav li{
	margin-top: 10px;
	text-align: left;
	line-height: 120px;
	/*list-style: none;*/
	float: left;
	/*border: 1px red solid;*/
	height:80px ;
	width: 300px;
}

/*头部的第二个元素*/
nav>ul li:nth-child(2){
	width: 2px;
	background-color:rgb(112,104,101) ; 
	height: 50px;
	margin-top:15px;
	
}
/*电话号码*/
nav>ul li:last-child{
	width:500px;
	line-height: 80px;
	margin-left: 300px;
	font-size: 20px;
	color:darkblue;
}
/*导航栏*/
.head_nav{
	float: left;
	height: 50px;
	width: 100%;
	/*background-color: deepskyblue;*/
	/*background-color: #48D1CC;*/
	background-color: rgba(0,0,0,0.4);
	
}
/*导航栏列表*/
.head_nav li{
	margin-top: 7px;
	margin-left: 70px;
	color: white;
	text-align: center;
	float: left;
	height: 40px;
	width: 100px;
	/*border:  1px red solid;*/
}
.head_text{
	width: 100%;
	/*border: 1px red solid;*/
	/*文字颜色*/
	color:#7AC5CD;
	font-family: "华文新魏";
	font-size: 85PX;
	position: absolute;
	top: 250PX;
	left: 250PX;
	/*文字影印*/
	text-shadow: 5px 5px 5px #ccc;
}
#head_text_left{
	/*border: 1px green solid;*/
	position: relative;
	left: 550px;
}
/*公共代码模块
 * 定义背景
 */
/*.middle_three,.pullup-element,.come-in{
	background-color: rgb(224,254,255);
}*/
/*未来发展模块*/
.middle{
	
	/*border: 1px green solid;*/
	width: auto;
	height: 650px;
	
}



/*未来发展模块外层ul代码块*/
.middle_ul{
	position: relative;
	left: 200px;
	top: -14px;
 	}
 	
 	
 	iframe{
 		border: 1px;
 		width: 100%;
 		height: 500px;
 	}
 	
 	
 	
 	
/*
 * 网页公共代码块模块的标题主要设置文字居中
 */
.middle p,.middle_two p,.middle_three>p,.middle_four>p{
	text-align: center;
	font-size: 30px;
	line-height:100px;
}
/*排行榜标题*/
.middle_ul>li>label{
	color: black;
	font-size: 25px;
	float: left;
	margin-left:90px;
	margin-top: 50px;
}
/*未来发展模块排行榜公共代码*/
.middle_Text,.middle_Text2{
	float: left;
	margin-left: 30px;
	/*margin-top: 30px;*/
	/*background-color: red;*/
	border: 2px rgb(229,229,229) solid;
	height: 502px;
	width: 530px;
}
/*我适合做程序员吗
 网页的第二部分
 * */
.middle_two{
	/*border: 1px green solid;*/
	width: auto;
	height: 650px;
	background-color: white;
	background: url(../img/背景.png);
	background-repeat: no-repeat;
	background-position: 50%,50%;
}
/**
 * 第二部分的背景
 */
.middle_two>ul{
	/*border: 1px red solid;*/
	height: 70%;
	margin-left:18%;
	margin-top: 100px;
}
/**
 * 第二部分样式以及字体
 */
.middle_two ul li{
	
	text-align: left;
	line-height: 25px;
	font-size: 16px;
	color: whitesmoke;
	float: left;
	/*border: 1px black solid;*/
	width: 25%;
	height: 20%;
	margin-left: 150px;
	margin-bottom: 100px;
	padding-left: 20px;
	padding-top: 5px;
}
/**
 * 标题样式
 */
.middle_two_label{
	font-size:20px;
}


/*在线学习块*/
/*.feature-part {
    text-align: center;
    background: #f1f2f6;
    padding: 45px 0 55px;
}

.feature-part .main-title {
    font-size: 32px;
    color: #333;
    margin: 0 0 8px;
}
.feature-part .sub-title {
    font-size: 16px;
    color: #999;
}
.feature-part .feature-card {
    width: 1180px;
    margin: 0 auto;
}
.feature-part .feature-card .feature-li {
    width: 290px;
    height: 380px;
    display: inline-block;
    position: relative;
    margin-top: 45px;
    top: 0;
    transition: top .5s;
}
.bg-image.study-home {
    background-image: url(../img/zyb_170b65281483dc726d1bffc46ece64bf.png);
}
.feature-part .feature-card .feature-li .bg-image {
    width: 100%;
    height: 300px;
    background-size: contain;
}
.feature-part .feature-card .feature-li .bg-image .hover-div {
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    background: rgba(0,0,0,.6);
    padding-top: 70px;
    box-sizing: border-box;
    opacity: 0;
    transition: padding-top .5s;
}
.feature-part .feature-card .feature-li:hover .dd-word {
    transition: border-bottom .5s;
    background-color: #fff;
    box-shadow: 0 8px 12px 0 #e0ece5;
}

/*index_b1b803a.css:1*/
.feature-part .feature-card .feature-li .dd-word {
    height: 80px;
    width: 100%;
    line-height: 80px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #f1f2f6;
        transition: border-bottom .5s;
}
.feature-part .feature-card .feature-li:hover .hover-div {
    opacity: 1;
    padding-top: 60px;
    transition: padding-top .5s;
    animation: hoverdelay .5s 1;
    -webkit-animation: hoverdelay .5s 1;
}

/*index_b1b803a.css:1*/
.feature-part .feature-card .feature-li .bg-image .hover-div {
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    background: rgba(0,0,0,.6);
    padding-top: 70px;
    box-sizing: border-box;
    opacity: 0;
    transition: padding-top .5s;
}*/



/*课程体系*/
.middle_three{
	/*border: 1px green solid;*/
	
	height: 650px;
}
/**
 * 课程介绍模块
 */
.middle_three_ul{
	margin-left: 10%;
	width: 80%;
}
.middle_three_ul li{
	box-shadow: -1px 5px 6px #888888;
	/*设置课程之间的间距*/
	margin-left: 80px;
	margin-top: 50px;
	float: left;
	width: 200px;
	height: 210px;
	/*设置字体靠底部*/
	text-align: center;
	line-height:30px;
	color: white;
	font-family: "新宋体";
	font-size: 20px;
	border-radius:10px;
	/*border: 1PX black solid;*/
	/*animation: transform-5 1s ease 0s alternate none infinite;*/
	animation:w3c 1.5s ease 0s alternate none ;
}
/*鼠标悬浮到课程的效果*/
/*.middle_three_ul li:hover{
	cursor:pointer;
	transform: translate(100px);
	transition: 1s;
	
}*/

#bcd{
width:100px;
height:100px;
background:red;

}

#bcd:hover{
	
}
@-webkit-keyframes w3c { from{-webkit-transform:perspective(0px) rotateY(360deg); } to{-webkit-transform:perspective(360px) rotateY(0deg); } }
@-moz-keyframes w3c { from{-moz-transform:perspective(0px) rotateY(360deg); } to{-moz-transform:perspective(360px) rotateY(0deg); } }
@keyframes w3c { from{transform:perspective(0px) rotateY(360deg); } to{transform:perspective(360px) rotateY(0deg); } }

      .middle_three_ul li:not(:hover):not(:target) {-webkit-animation: 0s ease 0s normal none 1 none;}
 	  .middle_three_ul li:not(:hover):not(:target) {-moz-animation: 0s ease 0s normal none 1 none;}
       .middle_three_ul li:not(:hover):not(:target) {animation: 0s ease 0s normal none 1 none !important;}


/*课程图标位置*/
.middle_three_ul li img{
	
}
/**
 * 标题
 */

.middle_four{
	margin-top: 560px;
	border: 1px red solid;
	width: auto;
	height: 650px;
}
/*
 学校照片
 */
/*
.Xiaza{
	width: 100%;
	height: 375px; 
	border: 1px red solid;
}
.Xiaza div:nth-child(1){
	width: 100%;
	height: 100px; 
	/*border: 1px red solid;*/
	/*background: cornflowerblue;*/
/*}

.Xiaza div:nth-child(1) ul{
	width: 100%;
	height: 100px; 
	background: #e9eff7;
}
.Xiaza div:nth-child(1) li{
	padding: 12px 16px 12px 20px;
	float: left;
	height: 11px;
	font: "微软雅黑";
	font-size: 16px;
	color: #FFA500;
	
}
.Xiaza div:nth-child(1) li:hover{
	background: #3883c6;
	color: #FFFFFF;
}

.xiaoshanjioa{
	background:url(../img/index_icons.png)21px -527px no-repeat;
	/*border: 1px red solid;
}*/

.win{
	
	width:95%;height:529px;border:1px solid #ccc;margin:20px auto;position:relative;
	overflow: hidden;
}
.title{
	width:100%;height:30px;background:#eee;position: relative;
}
.title a{
	/*padding:0 30px;*/width:20%;height:100%;float:left;text-align: center;line-height: 30px;font-size: 15px;color:#009797;text-decoration: none;position: relative;z-index: 1;
}
.title .float{
	width:20%;height:100%;background: #009797;position: absolute;
}
.box{
	width:100%;height:270px;position: relative;
}
.box div{
	width:100%;height: 100%;position: absolute;left:-100%;font-size: 70px;text-align: center;line-height: 270px;top:0;color:#fff;
}
.rightB{
	width:50px;height:70px;font-size: 20px;color:#fff;background: rgba(0,0,0,0.5);position: absolute;right:0;top:45%;line-height:70px;text-align: center;cursor: pointer;display: none;
}
.leftB{
	width:50px;height:70px;font-size: 20px;color:#fff;background: rgba(0,0,0,0.5);position: absolute;left:0;top:45%;line-height:70px;text-align: center;cursor: pointer;display: none;
}
.color1{background: #FFB12F;}
.color2{background: #00C378;}
.color3{background: #26B2E3;}
.color4{background: #E84C3D;}
.color5{background: #F831FD;}

/*第一页校园照片*/
.color1 ul li{
    width: 290px;
    height: 238px;
	float: left;
	/*border: 1px red solid;*/
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 2px;
	background: url(../img/C02BC322E7FFCAABA6B183DEE1032277.jpg) 0px 0px no-repeat;
}
.color1 ul li:nth-child(1){
	width: 500px;
	height: 480px;
	margin: 0px;
	
}
.color1 ul li:nth-child(2){

}
.color1 ul li:nth-child(3){
	
}
/*没有用的li就是来取消浮动的空li*/
.color1 ul li:nth-child(5){
	float: none;
}

.color1 ul li:nth-child(6){
	
}
.color1 ul li:nth-child(7){
	
}

/*第二页校园照片*/
.color2 ul li{
    width: 290px;
    height: 238px;
	float: left;
	/*border: 1px red solid;*/
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 2px;
	background: url(../img/wqasdasd.jpg)0px 0px no-repeat;
}
.color2 ul li:nth-child(1){
	width: 500px;
	height: 480px;
	margin: 0px;
	
}
.color2 ul li:nth-child(2){

}
.color2 ul li:nth-child(3){
	
}
/*没有用的li就是来取消浮动的空li*/
.color2 ul li:nth-child(5){
	float: none;
}

.color2 ul li:nth-child(6){
	
}
.color2 ul li:nth-child(7){
	
}



/*第三页校园照片*/
.color3 ul li{
    width: 290px;
    height: 238px;
	float: left;
	/*border: 1px red solid;*/
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 2px;
	background: url(../img/wqeqwe.jpg) 0px 0px no-repeat;
}
.color3 ul li:nth-child(1){
	width: 500px;
	height: 480px;
	margin: 0px;
	
}
.color3 ul li:nth-child(2){

}
.color3 ul li:nth-child(3){
	
}
/*没有用的li就是来取消浮动的空li*/
.color3 ul li:nth-child(5){
	float: none;
}

.color3 ul li:nth-child(6){
	
}
.color3 ul li:nth-child(7){
	
}

/*底部的版权界面*/
.bottom{
	background-color: rgba(46,48,51,0.9);
	height: 250px;
	border:1px green solid;
}
.bottom p{
	line-height: 50px;
	font-size: 30px;
}
/*友情链接*/
.blogrollList li {
    float: left;
    margin-right: 24px;
    margin-bottom: 10px;
    width: 161px;
    height: 88px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    display: table;
}
.blogrollList li a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}